################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.DoomArcade/.idea
/.vs/DoomArcade
/Build/
/DoomArcadeServer/bin
/DoomArcadeServer/obj
*.user
/.vs/ProjectEvaluation
/.vs/CopilotSnapshots/DA9498DDA2F8B5478636D60D36E8729C
